.header {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: url(/src/imagenes/fondo2.jpg);
    color: black;
    font-family: cursive;
}

.botonRegresar{
    background-color: #f0f0f0;
    color: black;
    height: 50px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.botonRegresar:hover {
    background-color: #0056b3;
}