.header {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: url(/src/imagenes/fondo2.jpg);
    color: black;
    font-family: cursive;
}